header[role="banner"] {
  display: flex;
  flex-direction: row;
}
.logo img {
  height: var(--sp-xl);
  width: auto;
}
header nav, footer nav {
  width: 100%;
  align-content: center;
}
header nav ul, footer nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  gap: var(--sp-s);
  flex-wrap: wrap;
}