.tags-list {
  display: flex;
  flex-direction: row;
  gap: var(--sp-s);
  flex-wrap: wrap;
  font-size: var(--step--1);
}
.tags-list li a,
header nav ul li a[data-state="active"] {
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
.tags-list li a,
header nav ul li a:hover,
header nav ul li a:focus,
header nav ul li a[data-state="active"] {
  background-color: light-dark(var(--dm-background), var(--lm-background));
  border: solid 0.3vw light-dark(var(--dm-background), var(--lm-background));
  color: light-dark(var(--dm-heading), var(--lm-heading));
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
.tags-list li a:hover,
.tags-list li a:focus,
header nav ul li a,
header nav ul li a[data-state="active"]:hover,
header nav ul li a[data-state="active"]:focus {
  background-color: light-dark(var(--lm-background), var(--dm-background));
  color: light-dark(var(--lm-heading), var(--dm-heading));
  border: solid 0.3vw light-dark(var(--lm-heading), var(--dm-heading));
  padding: calc(var(--step--1)/4);
  border-radius: calc(var(--step--1)/2);
}
header nav ul li a:not([data-state="active"]) {
  border-color: light-dark(var(--lm-background), var(--dm-background));
}